<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

<link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
<script type="text/javascript" src="/js/answer.js"></script>

</head>

<body>
<br>
<br>
<br>
<br>
<br>
<br>


AAAAAAAAAAAAAAAAAAAAAAAAAA

<h3>
{{question}}
</h3>


<!-- Raised button -->
<button class="mdl-button mdl-js-button mdl-button--raised" id="button1">
  {{answer1}}
</button>
  
<button class="mdl-button mdl-js-button mdl-button--raised">
  {{answer2}}
</button>
  
<button class="mdl-button mdl-js-button mdl-button--raised">
  {{answer3}}
</button>

<button class="mdl-button mdl-js-button mdl-button--raised">
  {{answer4}}
</button>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</body>